/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100%;
    min-height: 100dvh;
    background-color: #1e1e1e;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100dvh;
}

/* SIDEBAR */
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 250px;
    max-width: 300px;
    min-width: 200px;
    background-color: black;
    color: #fff;
    padding: 10px;
}

/* LISTA DE USUÁRIOS */
.user-list {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    overflow-y: auto;
}

/* USUÁRIO */
ul div {
    font-size: 30px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 8px;
}

ul div:hover {
    background-color: rgb(49, 49, 49);
}

/* STATUS DO USUÁRIO */
#status{
    font-size: 20px;
    color: green;
}

/* CHAT AREA */
.chat_area {
    display: none;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* trocar de hidden para auto */
    max-width: 100%;
    background-color: #1e1e1e;
    color: #f1f1f1;
}

.name {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #2c2c2e; /* fundo levemente diferente para destacar o topo */
    padding: 10px;
    border-radius: 8px;
}

/* MENSAGENS */
#messages {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    overflow-y: auto;
    flex: 1;
    background-color: #1e1e1e;
}

/* BOLHAS DE MENSAGEM */
.message, .messageMe {
    max-width: 60%;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.message {
    align-self: flex-start;
    background-color: #2c2c2e;
    color: #fff;
}

.messageMe {
    align-self: flex-end;
    background-color: #000000;
    color: #fff;
}

/* FORMULÁRIO DE ENVIO */
.input-area {
    display: flex;
    gap: 10px;
    background-color: #2c2c2e;
    border-radius: 8px;
    padding: 10px;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #3a3a3c;
    color: white;
}

.input-area button {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #4a4a4c;
    color: white;
    border: none;
    cursor: pointer;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(63, 63, 63, 0.8);
}

/* RESPONSIVIDADE: telas menores que 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
        flex-direction: column;
        overflow-x: auto;
        padding: 10px;
    }

    .user-list {
        flex-direction: column;
        overflow-x: auto;
        margin-top: 0;
        gap: 10px;
        font-size: 18px;
    }

    .chat_area {
        flex: 1;
        max-width: 100%;
        padding: 10px 5px;
    }

    .message, .messageMe {
        max-width: 80%;
        font-size: 16px;
    }

    .input-area {
        flex-direction: row;
    }
}



/* Botão do menu hamburguer */
.menu_hamburguer{
    display: none;
    position: absolute;
    top: 40px;
    left: 240px;
    z-index: 4;
}

#menu_toggle{
    display: none;
}

.menu_icon{
    width: 27px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    position: relative;
}

.linha{
    height: 4px;
    background-color: rgb(214, 214, 214);
    border-radius: 2px;
    transition: 0.3s;
}

#menu_toggle:checked + .menu_icon .linha:nth-child(1){
    transform: rotate(45deg) translate(10px, 10px);
}

#menu_toggle:checked + .menu_icon .linha:nth-child(2){
    opacity: 0;
}

#menu_toggle:checked + .menu_icon .linha:nth-child(3){
    transform: rotate(-45deg) translate(3px, -3px);
}

/* Exibe o botão em telas pequenas */
@media (max-width: 768px) {
    .menu_hamburguer {
        display: flex;
        top: 25px;
        left: 30px;
    }

    .linha{
        background-color: rgb(255, 255, 255);
    }

    .sidebar{
        display: none;
    }

    #menu_toggle:checked + .menu_icon .linha:nth-child(1),  #menu_toggle:checked + .menu_icon .linha:nth-child(3){
        background-color: rgb(255, 255, 255);
    }
}
